In [15]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import LabelEncoder

In [10]:
df = pd.read_csv("./birlestirilmis_veriler.csv")

In [13]:
df["Yer"].value_counts()

Yer
KAHRAMANMARAS     113
MALATYA           103
BURSA              61
HATAY              21
ADANA              20
CORUM              18
ADIYAMAN           17
YALOVA             17
ELAZIG             12
MERSIN             12
MANISA             12
SIVAS              12
KONYA              11
MUGLA              11
IZMIR               8
SANLIURFA           6
KUTAHYA             6
GAZIANTEP           6
KAYSERI             6
OSMANIYE            6
ANKARA              5
BINGOL              5
ERZINCAN            4
YOZGAT              4
DENIZLI             3
CANAKKALE           3
DUZCE               3
BOLU                3
TUNCELI             2
ISPARTA             2
BALIKESIR           2
AFYONKARAHISAR      2
DIYARBAKIR          2
VAN                 2
AGRI                1
AYDIN               1
SAKARYA             1
KARS                1
ERZURUM             1
CANKIRI             1
SIRNAK              1
NIGDE               1
KIRIKKALE           1
AMASYA              1
MUS                 1
Name: count, dtype: int64

In [26]:
enc = LabelEncoder()

In [27]:
df['Yer'] = enc.fit_transform(df['Yer'])

In [28]:
df["Yer"].value_counts()

Yer
24    113
30    103
10     61
21     21
0      20
13     18
1      17
43     17
17     12
32     12
31     12
40     12
28     11
33     11
23      8
38      6
29      6
20      6
26      6
36      6
5       5
8       5
18      4
44      4
14      3
11      3
16      3
9       3
41      2
22      2
7       2
2       2
15      2
42      2
3       1
6       1
37      1
25      1
19      1
12      1
39      1
35      1
27      1
4       1
34      1
Name: count, dtype: int64

In [29]:
print(df['Derinlik'].isnull().values.any())
print(df['ML'].isnull().values.any())
print(df['Yer'].isnull().values.any())
print(df['Timestamp'].isnull().values.any())

False
False
False
False

In [30]:
df

     Derinlik   ML  Yer     Timestamp
0         7.9  1.8   30  1.702056e+09
1         2.9  2.0   30  1.702055e+09
2        10.8  2.6   30  1.702055e+09
3         7.8  1.5   30  1.702054e+09
4         9.0  1.1   21  1.702054e+09
..        ...  ...  ...           ...
526      20.6  1.0   36  1.701480e+09
527       4.2  2.0   33  1.701479e+09
528      20.6  1.2   24  1.701477e+09
529       5.0  1.3   40  1.701477e+09
530      20.2  1.6    1  1.701474e+09

[531 rows x 4 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Derinlik   531 non-null    float64
 1   ML         531 non-null    float64
 2   Yer        531 non-null    int64
 3   Timestamp  531 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 16.7 KB

In [32]:
df.to_csv("ready-to-training-data.csv",index=False)